*{
    font-family: 'Inter', sans-serif;
}

body {
    color: #000;
    overflow-x: hidden;
    height: 0%;
    background-image:url(img/bgsewa.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container1 p{
    color: white;
    padding-top: 50px;
}

.container1 i{
    margin-right: 8px;
    margin-left: 70px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #CCFF00;
}

input, textarea {
    /* border-radius: 50px !important; */
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.711);    
}


input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #8120FF !important;
    outline-width: 0;
    font-weight: 400;
}

.container1 i{
    margin-right: 8px;
    margin-left: 70px;
}

.container2 .card1{
    padding-left: 80px;
    padding-top: 50px;
}

.container2 .card2{
    padding-right: 80px;
    padding-top: 136px;
}

.btn-color1 {
    transition: 0.5s;
    border-radius: 5px;
    background-color: rgba(245, 222, 179, 0);
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    color: white;
    margin-top: 40px;
    width: 30%;
}

.btn-color2 {
    transition: 0.5s;
    border-radius: 5px;
    background-size: 400% auto;
    background-image: linear-gradient(to right, #a662ff 0%, #9241FE 61%, #7b16ff 100%);
    padding: 10px;
    cursor: pointer;
    color: white;
    border: none !important;
    margin-top: 20px;
    width: 30%;
}

.btn-color2:hover {
    background-position: right center;
}

.container .kasir i{
    color: white;
}

.container .atm i{
    color: white;
}

.container .card-1 h5{
    color: white;
    font-weight: 800;
    font-size: 50px;
}

.container .card-1 p{
    color: white;
    font-weight: 100;
    font-size: 15px;
}

.btn-color1 {
    transition: 0.5s;
    border-radius: 5px;
    background-color: rgba(245, 222, 179, 0);
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    color: white;
    margin-top: 40px;
    width: 30%;
    float: right;
}